<!DOCTYPE html>
<body id="home_page_body">
<div class = "image-container">
  <%= link_to image_tag("yt.png", class: 'link_image'), games_path %>
  <br/><br/>
  <%= link_to image_tag("owlogo.png", class: 'link_image'), heros_path  %>
</div>
</body>
</html>