<h1>Editing Game</h1>

<%= render 'form', user: @user %>

<<<<<<< HEAD
<%= link_to 'Profile', user_path %>
=======
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
>>>>>>> 6eea5c94dcd3075e80929bde240b936dffc59413
