<% provide(:title, @user.display_name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.display_name %>
</h1>
<%= link_to "Edit Profile", edit_user_path, :class => "edit-user-link"%>
<div>  <%= test_function(@user) %> </div>
