<h1>Hello From Rails</h1>
<p>
It is now <%= @time %>
</p>
<p>
<% @files.each do |file| %>
	<ul> <li> file name is: <%= file %> </li>
	</ul>
	<% end %>
</p> 
	Time to say
	<%= link_to "Goodbye", say_goodbye_path %>
</p>


