/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

body {
  .form-inline {
    position: absolute;
    right: 5px;
    bottom: 5px;

  }
  #banner {
    position: relative;
    min-height: 55px;
    background: #981321;
    font: small-caps 20px/20px "Times New Roman", serif;
    color: #282;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 192px;
    }
  }

  #notice {
    color: #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
  }

  #notice:empty {
    display: none
  }

  #columns {
    background: #981321;
    display: flex;

    #main {
      padding: 1em;
      background: white;
      flex: 1;
    }

    #side {
      padding: 4em 1em;
      background: #000000;

      ul {
        padding: 0;

        li {
          list-style: none;

          a {
            color: #bfb;
            font-size: medium;
          }
        }
      }
    }
  }

  @media all and (max-width: 800px) {

    #banner {
      height: 1em;
    }
    #banner .title {
      display: none;
    }
  }
}